<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to t('edit'), edit_article_path(@article) %></li>
  <li><%= link_to t('destroy'), article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "PDF", "#{article_path(@article)}/pdf" %></li>
  <li><%= link_to "XML", "#{article_path(@article)}/xml" %></li>
</ul>
