<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to t('homepage'), root_path %></li>
      </ul>
      <ul>
        <li><%= link_to 'English', locale: :en %></li>
        <li><%= link_to 'Русский', locale: :ru %></li>
        <li><%= link_to 'Française', locale: :fr %></li>
      </ul>
    </nav>

    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
